<div class="container justify-content-center form-group ">
    {{ form_start(form) }}
            <p class="help-block my-3">{{ form_label(form.name) }}</p>
            <p class="help-block my-3">{{ form_widget(form.name) }}</p>            
            <p class="help-block my-3">{{ form_label(form.article) }}</p>
            <p class="help-block my-3">{{ form_widget(form.article) }}</p>
                <button class="btn btn-outline-dark">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

</div>