
<div class="container justify-content-center form-group ">
    {{ form_start(form) }}
            <p class="help-block my-3">{{ form_label(form.ean) }}</p>
            <p class="help-block my-3">{{ form_widget(form.ean) }}</p>            
            <p class="help-block my-3">{{ form_label(form.name) }}</p>
            <p class="help-block my-3">{{ form_widget(form.name) }}</p>
    
            <p class="help-block my-3">{{ form_label(form.teaser) }}</p>
            <p class="help-block my-3">{{ form_widget(form.teaser) }}</p>    
            <p class="help-block my-3">{{ form_label(form.description) }}</p>
            <p class="help-block my-3">{{ form_widget(form.description) }}</p>

            
            <p class="help-block my-3">{{ form_label(form.price) }}</p>
            <p class="help-block my-3">{{ form_widget(form.price) }}</p           
                <p class="help-block my-3">{{ form_label(form.stock) }}</p>
                <p class="help-block my-3">{{ form_widget(form.stock) }}</p
    
            <p class="help-block my-3">{{ form_row(form.picturemain) }}</p><hr>
            <p class="help-block my-3">{{ form_row(form.picturefront) }}</p><hr>
            <p class="help-block my-3">{{ form_row(form.pictureback) }}</p><hr>
    
            <p class="help-block my-3">{{ form_row(form.manuel) }}</p>
    
            <p class="help-block my-3">{{ form_row(form.category) }}</p>
            <p class="help-block my-3 mx-2">{{ form_row(form.tag) }}</p>
    
            <button class="btn btn-outline-dark">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

</div>

